<nav class="navbar">
  <div class="navbar-left" (click)="goToUserPage()">
    <img src="/logos/bus-logo.svg" alt="Логотип" class="logo-icon" />
    <span class="app-title">Transport Modeling</span>
  </div>

  <div class="nav-buttons">
    <ng-container *ngIf="isAuthenticated; else guestMode">
      <button class="nav-btn" (click)="editProfile()">Змінити дані</button>
      <button class="nav-btn" (click)="logout()">Вийти</button>
    </ng-container>

    <ng-template #guestMode>
      <button class="nav-btn" (click)="backToHome()">В початок</button>
    </ng-template>
  </div>
</nav>
