<app-navbar></app-navbar>

<div class="container">
  <ng-container *ngIf="canAccessMainParts(); else noAccess">
  <app-user-page-main-part
    [title]="'Візуалізація завантаженості транспорту'"
    [description]="'Побудова графіків на основі даних про пасажиропотоки'"
    [buttonText]="'Перейти до побудови'"
    [isSelected]="selectedBlock === 'graphs'"
    (clicked)="selectGraphs()"
    [imageUrl]="'/logos/graph-logo.png'">
  </app-user-page-main-part>

  <app-user-page-main-part
    [title]="'Моделювання випуску транспорту'"
    [description]="'Оптимізація кількості та типів ТЗ  на маршруті з урахуванням обмежень'"
    [buttonText]="'Перейти до моделювання'"
    [isSelected]="selectedBlock === 'modeling'"
    (clicked)="selectModeling()"
    [imageUrl]="'/logos/ticket-logo.png'">
  </app-user-page-main-part>
  </ng-container>
  <ng-template #noAccess>
    <p>У вас немає доступу до цих функцій.</p>
  </ng-template>
</div>

<app-footer></app-footer>
